/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
  padding-bottom: 2rem;
  color: #5a5a5a;
  font-family: Helvetica, sans-serif !important;
}

.custom-header{
  text-align: center;
}

.navbar-brand{
  width: 100%;
  font-family: 'Berkshire Swash', cursive;
  font-size: 3.5rem;
  color: #343a40;
}

.cta{
  font-size: 1rem !important;
}

.cover-img{
  margin-bottom: 4rem;
  /* margin-top: 4rem; */
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
  font-family: 'Noto Serif', serif;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  font-size: 35px;
  margin-bottom: 1.5rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 40em) {
  .navbar-brand{
    font-size: 2.5rem;
  }
  .featurette-heading{
    font-size: 30px;
  }
}


}